<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:spring/spring.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<listener>
		<listener-class>com.yuanlong.moiverss.listener.AppContextListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>Moiverss</servlet-name>
		<servlet-class>com.yuanlong.moiverss.servlet.MoiverssServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Moiverss</servlet-name>
		<url-pattern>/rss</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>QQrss</servlet-name>
		<servlet-class>com.yuanlong.moiverss.servlet.MoiveQQrssServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QQrss</servlet-name>
		<url-pattern>/qqrss</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MoiveImport</servlet-name>
		<servlet-class>com.yuanlong.moiverss.servlet.MoiveImportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MoiveImport</servlet-name>
		<url-pattern>/startimport</url-pattern>
	</servlet-mapping> 
	
	<servlet>
		<servlet-name>CollectStatus</servlet-name>
		<servlet-class>com.yuanlong.moiverss.servlet.MoiveCollectStatusServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CollectStatus</servlet-name>
		<url-pattern>/collectstatus</url-pattern>
	</servlet-mapping>
<!-- ==============================SERVER========================================== -->	
	<servlet>
		<servlet-name>MoiveIndex</servlet-name>
		<servlet-class>com.yuanlong.moiverss.servlet.MoiveIndexServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MoiveIndex</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>MoiveMain</servlet-name>
		<servlet-class>com.yuanlong.moiverss.servlet.MoiveMainServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MoiveMain</servlet-name>
		<url-pattern>/main</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MoiveSimple</servlet-name>
		<servlet-class>com.yuanlong.moiverss.servlet.MoiveSimpleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MoiveSimple</servlet-name>
		<url-pattern>/simple</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MoiveDownLoad</servlet-name>
		<servlet-class>com.yuanlong.moiverss.servlet.MoiveDownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MoiveDownLoad</servlet-name>
		<url-pattern>/down</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>MoivePlay</servlet-name>
		<servlet-class>com.yuanlong.moiverss.servlet.MoivePlayServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MoivePlay</servlet-name>
		<url-pattern>/play</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MoiveDetail</servlet-name>
		<servlet-class>com.yuanlong.moiverss.servlet.MoiveDetailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MoiveDetail</servlet-name>
		<url-pattern>/detail</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MoiveCategory</servlet-name>
		<servlet-class>com.yuanlong.moiverss.servlet.MoiveCategoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MoiveCategory</servlet-name>
		<url-pattern>/category</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MoiveSearch</servlet-name>
		<servlet-class>com.yuanlong.moiverss.servlet.MoiveSearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MoiveSearch</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MoiveAbout</servlet-name>
		<servlet-class>com.yuanlong.moiverss.servlet.MoiveAboutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MoiveAbout</servlet-name>
		<url-pattern>/about</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>v2MoiveIndex</servlet-name>
		<servlet-class>com.yuanlong.moiverss.v2.servlet.MoiveIndexServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>v2MoiveIndex</servlet-name>
		<url-pattern>/v2/index</url-pattern>
	</servlet-mapping>
	<!-- 
	<servlet>
		<servlet-name>MoiveStartInitSearch</servlet-name>
		<servlet-class>com.yuanlong.moiverss.servlet.MoiveInitSearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MoiveStartInitSearch</servlet-name>
		<url-pattern>/startinits</url-pattern>
	</servlet-mapping>
	
	 -->
<!-- =================================TASKS================================== -->		
	<servlet>
		<servlet-name>MoiveCollect</servlet-name>
		<servlet-class>com.yuanlong.moiverss.queue.DoMoiveCollectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MoiveCollect</servlet-name>
		<url-pattern>/tasks/collect</url-pattern>
	</servlet-mapping>
<!-- 		<servlet>
		<servlet-name>MoiveInitSearch</servlet-name>
		<servlet-class>com.yuanlong.moiverss.queue.InitMoiveSearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MoiveInitSearch</servlet-name>
		<url-pattern>/tasks/initsearch</url-pattern>
	</servlet-mapping> -->
	<servlet>
		<servlet-name>Moiveimport</servlet-name>
		<servlet-class>com.yuanlong.moiverss.queue.ImportDataServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Moiveimport</servlet-name>
		<url-pattern>/tasks/import</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>tempCollect</servlet-name>
		<servlet-class>com.yuanlong.moiverss.queue.TempCollectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>tempCollect</servlet-name>
		<url-pattern>/tasks/tempcollect</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>adm_temp</servlet-name>
		<servlet-class>com.yuanlong.moiverss.servlet.MoiveTempCollectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>adm_temp</servlet-name>
		<url-pattern>/adm/temp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>adm_add</servlet-name>
		<servlet-class>com.yuanlong.moiverss.servlet.MoiveAddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>adm_add</servlet-name>
		<url-pattern>/adm/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>adm_config</servlet-name>
		<servlet-class>com.yuanlong.moiverss.servlet.MoiveConfigServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>adm_config</servlet-name>
		<url-pattern>/adm/config</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CollectMoive</servlet-name>
		<servlet-class>com.yuanlong.moiverss.servlet.MoiveCollectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CollectMoive</servlet-name>
		<url-pattern>/crons/startcollect</url-pattern>
	</servlet-mapping>
	<security-constraint>
        <web-resource-collection>
            <url-pattern>/tasks/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
	</security-constraint>
	  <security-constraint>
        <web-resource-collection>
            <url-pattern>/cron/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
     <security-constraint>
        <web-resource-collection>
            <url-pattern>/adm/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
  <filter>    
  <filter-name>jspFilter</filter-name>    
  <filter-class>com.yuanlong.moiverss.filter.JspFilter</filter-class>    
 </filter>    
 <filter-mapping>    
  <filter-name>jspFilter</filter-name>    
  <url-pattern>/*</url-pattern>    
 </filter-mapping> 
</web-app> 

